@page
@model ActiveCity.Areas.Admin.Pages.Users.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AppUser.Username" class="control-label"></label>
                <input asp-for="AppUser.Username" class="form-control" />
                <span asp-validation-for="AppUser.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppUser.Password" class="control-label"></label>
                <input asp-for="AppUser.Password" class="form-control" />
                <span asp-validation-for="AppUser.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppUser.FirstName" class="control-label"></label>
                <input asp-for="AppUser.FirstName" class="form-control" />
                <span asp-validation-for="AppUser.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppUser.LastName" class="control-label"></label>
                <input asp-for="AppUser.LastName" class="form-control" />
                <span asp-validation-for="AppUser.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppUser.Role" class="control-label"></label>
                <input asp-for="AppUser.Role" class="form-control" />
                <select asp-for="AppUser.Role" class="form-control" asp-items="Html.GetEnumSelectList<ActiveCity.Models.Role>()">
                </select>
                <span asp-validation-for="AppUser.Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
